@media screen and (max-width: 1440px) {
    .floating-seal{
        top: -4.5%;
    }
    
}


@media screen and (max-width: 1318px) {
    .futura-stats {
        width: 100%;
        max-width: 638px;
    }
}


@media screen and (max-width: 1024px) {
    .hero-content {
        justify-content: center;
        margin-top: 22px;
    }


    .floating-seal {
        top: 0.5%;
        left: 35%;
    }

    .collection-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .swiper-slide {
        max-width: 231px;
    }

    .futura-seal {
        max-width: 122.41px;
        right: 23px;
        top: -60px;
    }

    .futura-stats {
        padding: 20px;
    }

    .futura-stat>span {
        font-size: 32px;
    }


    .why-us-card-group {
        gap: 50px;
    }

    .contact-container {
        padding: 20px;
        gap: 20px;

        .contact-form {
            form {
                button {
                    width: 140px;
                    height: 52px;
                    font-size: 18px;
                }
            }
        }
    }

    
    .footer-container{
        grid-template-columns: 1fr 106px 106px 1fr;
    }
}




@media screen and (max-width: 768px) {
    .floating-seal {
        top: 6.5%;
        left: 34%;
    }


    .collection-grid {
        grid-template-columns: 1fr 1fr;
    }

    .futura-seal {
        max-width: 148.41px;
        right: 42px;
        top: -60px;
    }

    .futura-container2 {
        flex-direction: column-reverse;
    }

    .nook-section-title {
        font-size: 32px;
    }

    .futura-stats {
        gap: 80px
    }


    .contact-container {
        flex-direction: column;
        
        .contact-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .footer-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}




@media screen and (max-width: 425px) {
    .hero-content {
        margin-top: 22px;
    }

    .hero-h1{
        margin-bottom: 20px;
    }
    
    .hero-images{
        flex-direction: column;
        gap: 32px;
    }

    .hero-img-content{
        margin-top: 10px;
    }

    .hero-img-2{
        margin-top: 0px;
    }

    .hero-image1-container{
        padding-bottom: 20px;
    }

    .hero-img-1{
        max-width: 100%;
    }
    
    .hero-h1 {
        font-size: 40px;
    }

    .brand {
        font-size: 16px;
    }


    .custom-navigation-wrapper{
        width: 100px;
        height: 100px;
    }


    .popular-category{
        margin-top: 30px;
    }

    .collection{
        margin-bottom: 100px;
    }

    .collection-grid {
        grid-template-columns: 1fr;
    }


    .collection-image {
        width: 100%;
        margin-bottom: 10px;
    }


    .collection-h4{
        margin-bottom: 10px;
    }

    .collection-btn{
        padding-top: 24px;
    }



    .futura-container{
        padding: 100px 0px;
    }


    .futura-container2{
        gap: 20px;
    }


    .futura-seal{
        max-width: 101.41px;
        right: 26px;
        top: -55px;
    }


    .futura-stats {
        gap: 40px;
        margin-top: 40px;
    }

    .futura-stat>p {
        font-size: 16px;
    }


    .futura-stat>span {
        font-size: 20px;
    }


    .futura-h2 {
        font-size: 32px;
        margin-bottom: 7px;
    }


    .futura-p {
        margin-bottom: 14px;
        line-height: 26px;
    }


    .why-container{
        padding: 80px 0px;
    }

    .why-us-h2{
        margin-bottom: 44px;
    }

    .why-us-card-group {
        flex-direction: column;
    }

    .why-us-img{
        margin-bottom: 15px;
    }

    .why-us-h3{
        margin-bottom: 7px;
    }

    .why-us-p{
        line-height: 22px;
    }


    .contact-p{
        line-height: 22px;
    }


    .input-email{
        padding: 16px;
    }

    .contact-textarea{
        padding: 16px !important;
    }


    .footer-logo{
        margin-bottom: 14.85px;
    }

    .footer-h3{
        margin-bottom: 20px;
    }

    .footer-p{
        margin-bottom: 24px;
    }


    .footer-ul-1{
        gap: 8px;
    }

    .footer-ul-2{
        gap: 7px;
    }

    .copyright-container{
        margin-top: 30px;
    }
}