@media screen and (max-width: 1024px) {
    .hero-content {
        justify-content: center;
    }

    .hero-img-1 {
        display: none;
    }

    .hero-img-2 {
        width: 100%;
        height: auto;
    }


    .collection-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
        place-items: center;
    }


    .floating-seal {
        display: none;
    }

    .futura-col-1>h2 {
        font-size: 44px;
    }

    .futura-stats {
        padding: 20px;
    }

    .futura-stat>span {
        font-size: 32px;
    }


    .why-us-card-group {
        gap: 50px;
    }

    .contact-container {
        padding: 20px;
        gap: 20px;

        .contact-content {
            .lets-work1 h2,
            .lets-work2 h2 {
                font-size: 52px;
            }
        }

        .contact-form {
            form {
                button {
                    width: 140px;
                    height: 52px;
                    font-size: 18px;
                }
            }
        }
    }
}




@media screen and (max-width: 768px) {
    .swiper-slide>p {
        font-size: 16px;
    }

    .futura-container2 {
        flex-direction: column-reverse;
    }

    .no-section-title {
        font-size: 32px;
    }

    .futura-stats {
        gap: 80px
    }


    .contact-container {
        flex-direction: column;
        
        .contact-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}




@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
    }

    .brand {
        font-size: 16px;
    }


    .futura-seal{
        width: 100px;
    }


    .futura-stats {
        gap: 40px
    }

    .futura-stat>p {
        font-size: 16px;
    }


    .futura-stat>span {
        font-size: 20px;
    }


    .custom-navigation-wrapper {
        display: none;
    }


    .futura-col-1>h2 {
        font-size: 32px;
    }


    .futura-col-1>p {
        font-size: 16px;
    }


    .why-us-card-group {
        flex-direction: column;
    }

    .contact-container {
        .contact-content {
            .lets-work1 h2,
            .lets-work2 h2 {
                font-size: 32px;
            }
        }
    }
}