@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Regular Weight (400) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextRegular-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextRegular-Testing.woff') format("woff");
    font-weight: 400; /* normal */
    font-style: normal;
    font-display: swap;
}

/* Medium Weight (500) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextMedium-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextMedium-Testing.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold Weight (600) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextSemiBold-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextSemiBold-Testing.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold Weight (700) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextBold-Testing.woff2') format("woff2"),
        url('../assets/fonts/Roslindale-TextBold-Testing.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Roslindale", serif;
    font-weight: normal;
    overflow-x: hidden;
    position: relative;
}


/* header css */
.header{
    background-color: var(--nook-secondary-color);
}

.logo{
    width: 109px;
}

.navbar{
    padding: 37px 0px 13px 0px;
    background-color: var(--nook-secondary-color);
    z-index: 30;
}


.menu-bar{
    gap: 8px;
    cursor: pointer;
    padding: 0px 12px;
}


.nav-icons{
    gap: 25px;
}


.nav-dropdown{
    gap: 20px;
    left: 46.5%;
    transform: translateX(-18.5%);
    top: -500px;
    background-color: white;
    padding: 20px 30px;
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.nav-dropdown.active{
    top: 80px;
}




/* main body css */
.hero{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 30%;
    background-color: var(--nook-secondary-color);
    padding-top: 53px;
}


.hero-h1{
    font-size: clamp(52px, 5vw, 64px);
    color: var(--nook-primary-text);
    line-height: 130%;
    max-width: 850px;
    margin: 0 auto 40px auto;
}


.hero-content{
    margin-top: 52px;
}


.hero-images{
    display: flex;
    justify-content: space-between;
    gap: clamp(20px, 5vw, 81px);
}


.hero-p{
    color: #5F6060;
    max-width: 430px;
    margin: 0 auto;
    line-height: 120%;
}


.hero-img-1{
    width: 100%;
    max-width: 269px;
}


.floating-seal{
    top: -6.5%;
    left: 32%;
    width: clamp(100px, 14vw, 222.33px);
}

.hero-img-2{
    margin-top: 66px;
    width: 100%;
    max-width: 600px;
}


.hero-img-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hero-img-content > p{
    max-width: 218px;
    color: var(--nook-primary-text);
}

.hero-img-content > img{
    width: 28px;
    height: 28px;

}



/* Marquee css */
.ticker-container {
    width: 100%;
    border-bottom: 1px solid #6D7373;
    padding: 24px 0px;
    background-color: white;
    bottom: -80px;
}

.ticker-track {
    display: flex;
    width: max-content;
    gap: 24px;
}

.brand {
    font-size: 22px;
    color: #6D7373;
    gap: 24px;
}





/* swiper css */
.swiper{
    margin-top: 183px;
    margin-bottom: 100px;
}


.swiper-wrapper{
    gap: 24px;
}


.swiper-slide{
    width: 100%;
    /* max-width: 307px; */
}


.swiper-slide > .overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 80%, #3b4242da);
}


.swiper-p{
    left: 16px;
    bottom: 16px;
    color: white;
    font-size: clamp(24px, 5.64vw, 28px);
    z-index: 10;
}


.swiper-slide > img{
    width: 100%;
}


.custom-navigation-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 140px;
    height: 140px;
    background-color: #f4f4f4;
    border-radius: 50%;
    gap: 14px;
}


.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: static;
    padding-top: 5px;
    color: var(--nook-secondary-color);
    cursor: pointer;
}

.scroll-text {
    color: var(--nook-primary-text);
    user-select: none;
}





/* popular collection section */
.collection{
    margin-bottom: 203px;
}


.popular-category {
    margin: 50px 0px 48px 0px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
}

.popular-category::-webkit-scrollbar {
    display: none;
}


.category-ul {
    max-width: fit-content;
    margin: 0 auto;
    list-style: none;
    color: #414141;
}


.tab-item {
    cursor: pointer;
    padding: 0px 22px 22px 22px;
    border-bottom: 2px solid #CFCFCF;
}


.tab-item:hover {
    color: var(--nook-secondary-text);
    border-bottom: 2px solid var(--nook-secondary-text);
}


.collection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 48px;
    column-gap: 24px;
    place-items: center;
}


.collection-grid-item{
    width: 100%;
}


.collection-image{
    margin-bottom: 20px;
    width: 100%;
}


.collection-h4{
    color: var(--nook-primary-text);
    margin-bottom: 14px;
}


.product-price{
    color: #888888;
}


.collection-btn{
    padding-top: 48px;
}



.collection-btn-a{
    gap: 10px;
    color: var(--nook-secondary-text);
    line-height: 32px;
}






/* Futura designed for Better living */
.futura-container{
    background-color: var(--nook-primary-color);
    padding: 150px 0px;
}


.futura-container2{
    gap: 54px;
}



.futura-h2{
    color: white;
    font-size: 56px;
    margin-bottom: 32px;
    max-width: 545px;
    line-height: 140%;
}


.futura-p {
    color: #F7F8F7;
    max-width: 544px;
    margin-bottom: 24px;
    line-height: 32px;
}



.read-more{
    color: white;
    gap: 8px;
    line-height: 32px;
}


.futura-stats{
    background-color: #F7F8F7;
    background-image: url("../assets/living-stats-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -55px;
    width: 638px;
    padding: 48px 56px;
    gap: 117px;
    margin-top: 81px;
    color: var(--nook-secondary-text);
}


.futura-stat-p{
    margin-bottom: 24px;
    line-height: 40px;
}


.futura-stat-span{
    font-size: 40px;
    text-wrap: nowrap;
    line-height: 56px;
}


.futura-seal {
    max-width: 158.41px;
    right: 35px;
    top: -90px;
    z-index: 20;
}


.rectangle{
    background-color: var(--nook-primary-color);
    width: 40%;
    height: 14%;
    right: -1px;
    top: -2px;
}



.vertical-line {
    background-color: var(--nook-primary-color);
    width: 20px;
    height: 100%;
    right: 38%;
}



.futura-main-img{
    width: 100%;
    max-width: 609px;
}



.why-container{
    background-color: var(--nook-secondary-color);
    padding: 120px 0px
}


.why-us-h2{
    margin-bottom: 88px;
}


.why-us-card-group{
    gap: 125px;
}


/* Why us section */
.why-us-img {
    margin-bottom: 40px;
}


.why-us-h3 {
    margin-bottom: 14px;
    color: var(--nook-primary-text);
}


.why-us-p {
    color: #495050;
    line-height: 28px;
}




/* contact us section */
.contact-container {
    background-color: var(--nook-secondary-text);
    margin: 109px 0px 104px 0px;
    padding: 70px 102px;
    width: 100%;
}


.contact-content {
    width: 100%;
}

.form-container {
    width: 100%;
}

.contact-form {
    width: 100%;
}


.input-email {
    padding: 16px 32px;
    background-color: #005F61;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 32px;
    color: #C3C5C6;

    &::placeholder {
        font-size: 18px;
        font-weight: 400;
        color: #C3C5C6;
        font-family: "Inter", sans-serif;
    }
}


.textarea-div {
    margin-bottom: 40px;

    .contact-textarea {
        background-color: #005F61;
        padding: 16px 32px;
        border: none;
        outline: none;
        width: 100%;
        height: 185px;
        color: #C3C5C6;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: #C3C5C6;
            font-family: "Inter", sans-serif;
        }
    }

    .textarea-char-display {
        bottom: 32px;
        right: 16px;
        color: #989898;
        user-select: none;
    }
}


.mss-send-btn {
    width: 170px;
    height: 62px;
    border: 1px solid #F4F5F5;
    background-color: transparent;
    color: #F4F5F5;
    cursor: pointer;
}


.contact-content2{
    gap: 16px;
}


.contact-content .contact-h2{
    font-size: clamp(32px, 5vw, 72px);
    color: #F4F5F5;
    line-height: clamp(40px, 5vw, 88px);
}


.contact-p{
    color: #D8D8D8;
    max-width: 472px;
    line-height: 32px;
}


.lets-work-icon{
    width: clamp(46px, 5vw, 73px);
}


.together-icon{
    width: clamp(36px, 5vw, 57px);
}



.lets-work2{
    gap: clamp(30px, 5vw, 44px);
    margin-bottom: 24px;
    padding-left: 15px;
}




.footer{
    background-color: var(--nook-secondary-color);
    padding: 65px 0px 39px 0px;
}



.footer-logo{
    margin-bottom: 30.85px;
}



.footer-p{
    color: #5A5E5E;
    margin-bottom: 52px;
    line-height: 28px;
}


.footer-social-icon{
    gap: 30.33px;
}



.footer-container {
    display: grid;
    grid-template-columns: 363.24px 1fr 1fr 318px;
    gap: clamp(28px, 5vw, 73.85px);
}


.footer-ul{
    display: flex;
    flex-direction: column;
    line-height: 28px;
    max-width: 95.8px;
}


.footer-ul-li-a{
    text-decoration: none;
    color: #495050;
}


.footer-ul-1{
    gap: 16px;
}

.footer-ul-2{
    gap: 24px;
}



.footer-h3{
    font-size: 32px;
    color: #283E2E;
    margin-bottom: 34px;
    line-height: 46px;
}


.footer-btn{
    background-color: var(--nook-secondary-text);
    color: #F7F7F7;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 60px;
    line-height: 32px;
}


.copyright-container{
    padding-top: 16px;
    margin-top: 50px;
    border-top: 1px solid #9C9E9E;
    flex-wrap: wrap-reverse;
    gap: 20px;
}


.copyright-p{
    color: #5A5E5E;
    line-height: 32px;
}

.copyright-container > div{
    gap: 75.61px;
}


.copyright-container > div > a{
    text-decoration: none;
    color: #495050;
}