@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Regular Weight (400) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextRegular-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextRegular-Testing.woff') format("woff");
    font-weight: 400; /* normal */
    font-style: normal;
    font-display: swap;
}

/* Medium Weight (500) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextMedium-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextMedium-Testing.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold Weight (600) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextSemiBold-Testing.woff2') format("woff2"),
         url('../assets/fonts/Roslindale-TextSemiBold-Testing.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold Weight (700) */
@font-face {
    font-family: "Roslindale";
    src: url('../assets/fonts/Roslindale-TextBold-Testing.woff2') format("woff2"),
        url('../assets/fonts/Roslindale-TextBold-Testing.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* header css */
header{
    background-color: #FAFAFA;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0px 38px 0px;
    background-color: #FAFAFA;
}


.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.line{
    border: 1px solid #004C4C;
    border-radius: 10px;
}

.line1{
    width: 28px;
}

.line2{
    width: 20px;
}


.nav-icons{
    display: flex;
    align-items: center;
    gap: 25px;
}




/* main body css */
.hero{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* min-height: 100vh; */
    background-position: center 60px;
    background-color: #FAFAFA;
    position: relative;
}


h1{
    font-size: clamp(40px, 5vw, 64px);
    font-weight: 500;
    color: #303635;
    text-align: center;
    line-height: 130%;
    max-width: 850px;
    margin: 0 auto 40px auto;
}


.hero-content{
    margin-top: 52px;
    position: relative;
}


.hero-images{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.hero > p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #5F6060;
    max-width: 430px;
    margin: 0 auto;
}


.hero-img-1{
    overflow: hidden;
    width: max-content;
}

.floating-seal{
    position: absolute;
    top: -6.5%;
    left: 44%;
}

.hero-img-2{
    margin-top: 66px;
}


.hero-img-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hero-img-content > p{
    max-width: 218px;
    font-size: 20px;
    color: #303635;
    font-weight: 400;
}

.hero-img-content > img{
    width: 28px;
    height: 28px;

}



/* Marquee css */
.ticker-container {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #6D7373;
    padding: 24px 0px;
    background-color: white;
    position: absolute;
    bottom: -80px;
}

.ticker-track {
    display: flex;
    width: max-content;
}

.brand {
    padding: 0 40px;
    font-size: 22px;
    font-weight: bold;
    color: #6D7373;
    display: flex;
    align-items: center;
    gap: 24px;
}





/* swiper css */
.swiper{
    margin-top: 200px;
    overflow: hidden;
    margin-bottom: 100px;
}


.swiper-wrapper{
    gap: 15px;
}


.swiper-slide{
    position: relative;
}


.swiper-slide > .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 80%, #3b4242da);
}


.swiper-slide > p{
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: white;
    font-size: 28px;
    z-index: 10;
}


.swiper-slide > img{
    width: 100%;
}


.custom-navigation-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 140px;
    height: 140px;
    background-color: #f4f4f4;
    border-radius: 50%;
    gap: 8px;
}


.custom-navigation-wrapper .swiper-button-prev,
.custom-navigation-wrapper .swiper-button-next {
    position: static;
    width: 8px;
    padding-top: 21px;
    color: #303635;
}


.scroll-text {
    font-size: 20px;
    color: #303635;
    user-select: none;
    font-family: "Inter", sans-serif;
}





/* popular collection section */
.collection{
    margin-bottom: 203px;
}


.popular-category {
    margin: 50px 0px 48px 0px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
}

.popular-category::-webkit-scrollbar {
    display: none;
}


.popular-category>ul {
    max-width: fit-content;
    margin: 0 auto;
    list-style: none;
    color: #414141;
    font-size: 18px;
}


.popular-category>ul>li {
    cursor: pointer;
    padding: 20px 22px;
    border-bottom: 2px solid #CFCFCF;
}


.popular-category>ul>li:hover {
    color: #00494A;
    border-bottom: 2px solid #00494A;
}


.collection-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 24px;
}


.collection-grid-item{
    margin-bottom: 48px;
    /* width: 100%;
    max-width: 307px; */
}


.collection-grid-item > img{
    /* width: 100%; */
    margin-bottom: 20px;
}


.collection-grid-item > h4{
    font-size: 20px;
    font-weight: 700;
    color: #303635;
    margin-bottom: 14px;
}


.collection-grid-item > span{
    font-size: 20px;
    font-weight: 400;
    color: #888888;
}



.collection-btn > a{
    font-family: "Inter", sans-serif;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #00494A;
}






/* Futura designed for Better living */
.futura-container{
    background-color: var(--nook-primary-color);
    padding: 150px 0px;
}


.futura-container2{
    gap: 54px;
}



.futura-col-1 > h2{
    color: white;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 32px;
    max-width: 545px;
}


.futura-col-1 > p {
    font-size: 20px;
    color: #F7F8F7;
    font-family: "Inter", sans-serif;
    max-width: 544px;
    margin-bottom: 24px;
}



.futura-col-1 > a{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.futura-stats{
    background-color: #F7F8F7;
    background-image: url("../assets/living-stats-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -55px;
    max-width: 100%;
    padding: 48px 56px;
    gap: 117px;
    margin-top: 81px;
    color: #00494A;
}


.futura-stat > p{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}


.futura-stat > span{
    font-size: 40px;
    font-weight: 400;
    text-wrap: nowrap;
}


.futura-col-2{
    position: relative;
}


.futura-col-2 .futura-seal {
    position: absolute;
    max-width: clamp(100px,12vw,158.41px);
    right: 50px;
    top: -90px;
    z-index: 20;
}


.rectangle{
    position: absolute;
    background-color: var(--nook-primary-color);
    width: 40%;
    height: 14%;
    right: 0px;
}



.vertical-line {
    position: absolute;
    background-color: var(--nook-primary-color);
    width: 20px;
    height: 100%;
    right: 38%;
}



.futura-col-2 > img{
    width: 100%;
}



.why-container{
    background-color: #FAFAFA;
    padding: 120px 0px
}


.why-container > .container > h2{
    margin-bottom: 88px;
}


.why-us-card-group{
    gap: 125px;
}


/* Why us section */
.why-us-card > img {
    margin-bottom: 40px;
}


.why-us-card > h3 {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    color: #303635;
}


.why-us-card > p {
    font-weight: 400;
    font-size: 18px;
    color: #495050;
}




/* contact us section */
.contact-container {
    background-color: #00494A;
    margin: 109px 0px 104px 0px;
    padding: 70px 102px;
    width: 100%;
}


.contact-content {
    width: 100%;
}

.contact-form {
    width: 100%;
}

.contact-form>form {
    width: 100%;
}


.contact-form > form > input {
    padding: 16px 32px;
    background-color: #005F61;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #C3C5C6;
    font-family: "Inter", sans-serif;

    &::placeholder {
        font-size: 18px;
        font-weight: 400;
        color: #C3C5C6;
    }
}


.contact-form > form > div {
    position: relative;
    margin-bottom: 40px;

    textarea {
        background-color: #005F61;
        padding: 16px 32px;
        border: none;
        outline: none;
        color: white;
        width: 100%;
        height: 185px;
        font-size: 18px;
        font-weight: 400;
        color: #C3C5C6;
        font-family: "Inter", sans-serif;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: #C3C5C6;
        }
    }

    span {
        position: absolute;
        bottom: 32px;
        right: 16px;
        color: #989898;
        font-size: 20px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        user-select: none;
    }
}


.contact-form>form>button {
    width: 170px;
    height: 62px;
    border: 1px solid #F4F5F5;
    background-color: transparent;
    color: #F4F5F5;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.contact-container > div h2{
    font-weight: 400;
    font-size: 72px;
    color: #F4F5F5;
}


.contact-p{
    font-size: 18px;
    font-weight: 400;
    color: #D8D8D8;
    max-width: 472px;
    line-height: 32px;
}


.lets-work1{
    position: relative;
}


.lets-work-icon1{
    position: relative;
    width: 30px;
    right: -2%;
    bottom: -23px;
}


.lets-work-icon2{
    position: relative;
    top: -10%;
}


.lets-work2{
    gap: 40px;
    margin-bottom: 24px;
}




footer{
    background-color: #FAFAFA;
    padding: 65px 0px;
}



.footer-logo{
    margin-bottom: 30.85px;
}



.footer-p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5A5E5E;
    margin-bottom: 52px;
}


.footer-social-icon{
    gap: 30.33px;
}



.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px;
}


.footer-container > ul{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}


.footer-container > ul > li > a{
    text-decoration: none;
    color: #495050;
}


.footer-ul-1{
    gap: 16px;
}

.footer-ul-2{
    gap: 24px;
}



.footer-container h3{
    font-weight: 500;
    font-size: 32px;
    color: #283E2E;
    margin-bottom: 34px;
}


.footer-container button{
    background-color: #00494A;
    color: #F7F7F7;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 60px;
    font-family: "Inter", sans-serif;
}


.copyright-container{
    padding: 16px 0px;
    margin-top: 50px;
    border-top: 1px solid #9C9E9E;
    text-align: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
}


.copyright-container > p{
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #5A5E5E;
}

.copyright-container > div{
    gap: 75.61px;
}


.copyright-container > div > a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #495050;
}