body {
    font-family: "Roslindale", serif;
    font-weight: normal;
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}



.no-flex{
    display: flex;
    align-items: center;
}


.no-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-flex-col{
    flex-direction: column;

}

.no-text-center{
    text-align: center;
}

.no-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.no-text-center{
    text-align: center;
}


.no-section-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #303635;
    text-align: center;
}


.no-list{
    list-style-type: none;
}



.tab-item.active{
    color: var(--nook-secondary-text);
    border-bottom: 2px solid var(--nook-secondary-text);
}


.collection-grid-item.hide{
    display: none;
}




@media screen and (max-width: 1300px) {
    .container {
        margin-inline: 12px
    }
}