body {
    font-family: "Roslindale", serif;
    font-weight: normal;
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
    overflow: hidden;
}



.no-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.no-text-center{
    text-align: center;
}


.no-section-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #303635;
}




@media screen and (max-width: 1300px) {
    .container {
        margin-inline: 12px
    }
}