.container {
    max-width: 1300px;
    margin: 0px auto;
}



.nook-font-inter{
    font-family: "Inter", sans-serif;
}


.nook-font-700{
    font-weight: 700;
}

.nook-font-600{
    font-weight: 600;
}

.nook-font-500{
    font-weight: 500;
}

.nook-font-400{
    font-weight: 400;
}



.nook-font-16px{
    font-size: clamp(14px, 3.29vw, 16px);
}


.nook-font-18px{
    font-size: clamp(16px, 3.76vw, 18px);
}


.nook-font-20px{
    font-size: clamp(18px, 4.23vw, 20px);
}


.nook-font-22px{
    font-size: clamp(20px, 4.70vw, 22px);
}


.nook-font-24px{
    font-size: clamp(22px, 2.86vw, 24px);
}


.nook-flex{
    display: flex;
    align-items: center;
}


.nook-align-start{
    align-items: start;
}


.nook-align-center{
    align-items: center;
}


.nook-align-end{
    align-items: end;
}


.nook-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nook-flex-col{
    flex-direction: column;
}

.nook-text-center{
    text-align: center;
}

.nook-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nook-text-center{
    text-align: center;
}


.nook-section-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: var(--nook-primary-text);
    text-align: center;
}


.nook-list{
    list-style-type: none;
}



.tab-item.active{
    color: var(--nook-secondary-text);
    border-bottom: 2px solid var(--nook-secondary-text);
}


.collection-grid-item.hide{
    display: none;
}


.nook-relative{
    position: relative;
}


.nook-absolute{
    position: absolute;
}

.nook-overflow-hidden{
    overflow: hidden;
}

.nook-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.nook-btn-outline{
    border: 1px solid #F4F5F5;
    background-color: transparent;
    color: #F4F5F5;
    cursor: pointer;
    line-height: 32px;
    transition: all 0.5s ease;
    padding: 15px 60px;

    &:hover{
        background-color: #F4F5F5;
        color: var(--nook-primary-color);
    }
}


.nook-btn-fill{
    background-color: var(--nook-secondary-text);
    color: #F7F7F7;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 60px;
    line-height: 32px;
    transition: all .5s ease;
    

    &:hover{
        background-color: var(--nook-secondary-text-hover);
    }
}





@media screen and (max-width: 1300px) {
    .container {
        margin-inline: 12px
    }
}